# Economy Development Analysis

In [144]:
#import all the necessary libraries:
import pandas as pd
import csv
import numpy as np
from sqlalchemy import create_engine
from random import randint

In [145]:
wedi_df = pd.DataFrame()
wedi_df["country_name"] = np.nan
wedi_df["country_code"] = np.nan
wedi_df["indicator_name"] = np.nan
wedi_df["indicator_code"] = np.nan
wedi_df["year"] = np.nan
wedi_df["value"]=np.nan

In [146]:
# year = [print(result) for result in results]
# start_value = 54211
# year = [(result) for result in range(1980,1999)]
# value = [(start_value + randint(100, 999)) for result in range(1980,1999)]

In [147]:
economy_data = []
start_value = 543300000000

for result in range(1980,2019):
    year = result
    value = (start_value + randint(1000000, 9999990))
    
    data = {
        'country_name': 'United States',
        'country_code': 'USA',
        'indicator_name': 'GDP (current US$)',
        'indicator_code': 'NY.GDP.MKTP.CD',
        'year': year,
        'value': value
    }
    economy_data.append(data)
wedi_df = wedi_df.append(economy_data, ignore_index=True)

In [148]:
# economy_data = [{
#     'country_name': 'Aruba',
#     'country_code': 'ABW',
#     'indicator_name': 'Population, total',
#     'indicator_code': 'SP.POP.TOTL',
#     'year': year,
#     'value': value
# }]
# wedi_df = wedi_df.append(economy_data, ignore_index=True)
# print(economy_data)

In [149]:
wedi_df.head()

,country_name,country_code,indicator_name,indicator_code,year,value
0,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,1980.0,5.433083e+11
1,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,1981.0,5.433050e+11
2,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,1982.0,5.433016e+11
3,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,1983.0,5.433083e+11
4,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,1984.0,5.433081e+11

In [150]:
#Postgress Connection
# rds_connection_string = "postgres:{password}@localhost:5432/EconomyDevelopmentDB"
# engine = create_engine(f'postgresql://{rds_connection_string}')

In [151]:
#SQLite Connection
rds_connection_string = "economy_development_db.sqlite"
engine = create_engine(f'sqlite:///{rds_connection_string}')

In [152]:
engine.table_names()

['economy_development']

In [153]:
# if_exists='replace'
# if_exists='replace'
wedi_df.to_sql(name='economy_development', con=engine, if_exists='append', index=False)

In [154]:
pd.read_sql_query('select * from economy_development', con=engine).head()

,country_name,country_code,indicator_name,indicator_code,year,value
0,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1980.0,1.857921e+10
1,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1981.0,1.858036e+10
2,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1982.0,1.857970e+10
3,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1983.0,1.858195e+10
4,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1984.0,1.858231e+10